.App {text-align:center;}
.explorer {padding:30px; margin: 10px; min-height: 100px; background: #d9e3f3; border-radius:30px;}
.root-directory-descriptor {float:right;}
.root-directory-descriptor > span:first-child {display:inline-block; margin-right:10px;}
